<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.lib.widget">

    <application>
        <activity android:name=".demo.RefreshRVActivity" />
        <activity
            android:name=".mediapicker.ui.MediaPickerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask" />
    </application>
</manifest>