<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.allever.android.lib.permission.and.permission">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity android:name=".demo.AndPermissionActivity" />
    </application>
</manifest>